@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600;700;800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  text-align: center;
  background: url("../img/bg.png") center no-repeat;
  background-size: cover;
  padding: 40px 0 100px;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 140px);
}

.header_title {
  font-family: "Bebas Neue", cursive;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 6px;
  color: #ffffff;
}

.header_text {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.scroll_link {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.7px;
  color: #ffffff;
  text-decoration: none;
}

.nav-wrapper {
  padding: 24px 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.hamburger-menu {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 25px;
  left: 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
  z-index: 2;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  z-index: 1;
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 20px 0;
  list-style: none;
  text-align: center;
  background-color: #eceff1;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

.menu__item {
  display: block;
  padding: 15px 0;
  color: #333;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #db2d33;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.navigation {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.1px;
  text-decoration: none;
  color: #48555b;
  margin-left: 30px;
}

.navigation:nth-child(2) {
  color: #00a4e5;
}

.about {
  padding: 57px 0 120px;
}

.about-content {
  padding: 0 15px;
}

.about-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 2.3px;
  color: #48555b;
  text-align: center;
  position: relative;
}
.about-title:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 48%;
  width: 50px;
  height: 2px;
  background: #00a4e5;
}

.about-content {
  display: flex;
  justify-content: space-between;
  margin-top: 63px;
}

.about-content-info {
  max-width: 405px;
}

.about-content-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #48555b;
  margin-bottom: 30px;
}

.about-content-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.2px;
  color: #48555b;
}

.about-content-cards {
  display: flex;
  padding-top: 33px;
}

.deliver,
.manage,
.plan {
  background: #d8d8d8;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.3);
  height: 224px;
  position: relative;
}

.deliver-text,
.manage-text,
.plan-text {
  width: 76px;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.2px;
  color: #ffffff;
  position: absolute;
  top: 15px;
  left: 14px;
}

.manage,
.plan {
  margin-left: 19px;
}

.services-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.services-header-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 2.3px;
  color: #48555b;
  position: relative;
}

.services-header-title:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #00a4e5;
}

.services-header-text {
  max-width: 405px;
  font-weight: 400;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #48555b;
}

.services-header-btn {
  padding: 11px 29px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #ffffff;
  background: #00a4e5;
  border: none;
  cursor: pointer;
}

.services-info {
  margin-top: 78px;
  display: flex;
  justify-content: space-around;
  padding: 0 15px 115px;
}

.services-project {
  padding: 138px 22px 38px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  background: url("../img/project.png") 23px 38px no-repeat;
}

.services-structure {
  padding: 138px 22px 38px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  background: url("../img/structure.png") 23px 38px no-repeat;
}

.services-factory {
  padding: 138px 22px 38px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  background: url("../img/factory.png") 23px 38px no-repeat;
}

.services-title {
  width: 250px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #48555b;
}

.services-text {
  width: 250px;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.2px;
  color: #48555b;
  margin-top: 13px;
}

.get_in_touch {
  padding: 120px 0 231px;
  text-align: center;
  background: url("../img/bg2.png") center/cover no-repeat;
}

.get_in_touch-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #48555b;
  margin-bottom: 35px;
}

.get_in_touch-btn {
  padding: 11px 29px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #ffffff;
  background: #00a4e5;
  border: none;
  cursor: pointer;
}

.mail {
  background-color: #171819;
}

.newsletter {
  display: flex;
  padding: 30px 0 0;
  justify-content: space-around;
  align-items: center;
}

.newsletter-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.8px;
  color: #ffffff;
}

.form-mail {
  width: 250px;
  border: none;
  outline: none;
  padding: 12px 38px 13px 16px;
}

input::placeholder {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.07px;
  color: #48555b;
}

.form-btn {
  padding: 11px 29px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #ffffff;
  background: #00a4e5;
  border: none;
  cursor: pointer;
  margin-left: -4px;
}

.footer {
  background: #171819;
  padding: 42px 0 0;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.footer-company {
  width: 250px;
}

.footer-logos {
  margin-top: 19px;
}

.footer-company-title,
.footer-links-title,
.footer-contact-title {
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.8px;
  color: #ffffff;
}

.footer-company-text,
.footer-contact-text {
  font-weight: 400;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.85px;
  color: #ffffff;
  margin-top: 15px;
}

ul {
  margin-top: 10px;
}

.footer-links-navigation {
  display: flex;
  justify-content: space-between;
  width: 262px;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 0.8px;
  color: #ffffff;
  text-decoration: none;
}

.footer-contact {
  max-width: 141px;
}

.footer-socials {
  text-decoration: none;
}

.footer-socials:nth-child(2) {
  margin: 0 25px 0 25px;
}

.copyright {
  padding: 22px 15px 23px;
  margin-top: 39px;
  text-align: center;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.8px;
  color: #ffffff;
}

@media (min-width: 1440px) {
  .container {
    width: 1320px;
  }
}

@media (max-width: 1439px) {
  .container {
    width: 1140px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  .about {
    padding: 60px 0;
  }
  .about-content,
  .services-header,
  .services-info {
    flex-direction: column;
    align-items: center;
  }
  .about-title:after {
    left: calc(50% - 61px);
  }
  .services-header {
    gap: 30px;
    margin-bottom: 50px;
  }
  .services-info {
    margin: 0;
    padding: 0;
  }
  .footer-links,
  .footer-contact-text:first-of-type,
  .footer-company-text {
    display: none;
  }
  .footer-company {
    width: unset;
  }
  .footer-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
  }
  .newsletter {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }
  .header {
    min-height: 100vh;
  }
  .hamburger-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 30px;
    z-index: 999;
  }
  .nav-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .menu {
    display: none;
  }
  .about-content-cards {
    flex-direction: column;
    gap: 30px;
  }
  .manage,
  .plan {
    margin: 0;
  }
  .get_in_touch {
    padding: 50px 0;
  }
  .mail,
  .get_in_touch {
    margin-bottom: -1px;
  }
  .form {
    display: flex;
  }
  .form-mail {
    width: unset;
    padding: 13px;
  }
  .footer-contact,
  .footer-company {
    margin-bottom: 20px;
  }
  .footer-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-socials {
    gap: 10px;
  }
}
